<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_generate_blocks_after">
        <observer name="bluemedia_hyva_override_method_list_template"
                  instance="BlueMedia\HyvaPayment\Observer\OverrideMethodListTemplate" />
        <observer name="bluemedia_hyva_generate_payment_blocks"
                  instance="BlueMedia\HyvaPayment\Observer\LayoutGenerateBlocksAfter" />
    </event>
</config>
